.logo-bar {
    background-color: #ffde00;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    line-height: 1;
}

.logo-bar a {
    display: inline-block;
}

.footnote {
    font-size: 13px;
}

input[type=text] {
    width: 300px;
}

.nav-tab {
    cursor: pointer;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.footnote {
    font-size: 13px;
}
input[type=text] {
    width: 300px;
}
